/************************************************************ Error page ************************************************************/

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_container img{
    height: 450px;
}
.wrapper h1{
     font-size: 2.5rem;
}
.wrapper .message{
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    width: 70%;
}
.go_to_home_button{
    background: rgb(88,0,202);
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease;

}.go_to_home_button:hover{
    background: rgb(83, 30, 153);
    color: white;
    transform: scale(1.1);
}


@media screen and (max-width:992px) and (min-width:533px){
    .image_container img{
        height: 400px;
    }
   .wrapper .message{
    font-size: 15px;
    padding: 10px;
    text-align: center;
    width: 70%;
}
}


/* major Screen modifications done here  */

@media screen and (max-width:532px) and (min-width:300px){
    .image_container img{
        height: 250px;
    }
   .wrapper .message{
        font-size: 15px;
        padding: 10px;
        text-align: center;
        width: 70%;
    }
    .footer_content{
        font-size: 10px;
    }
    .Pred_panel{
        margin-top: 20px;
        height: auto;
        width: 100%;
    }
    .Design {
        font-size: 20px;
        height: 40px;
        width: 98%;
        border-radius: 2px;
        line-height: 40px;
        
    }
    .mail_to_us{
        margin: 10px 0px;
    }
    .About_project{
        font-size: small;
    }
    .data_container{
        font-size: small;
    }
    .Data_details{
        display: inline-block;
        border: 2px solid white;
        color: white;
        padding: 5px;
        margin: 10px 0px;
    
    }
    .flashes{
        margin: 0px;
        padding: 0px;
        font-size: 12px;
    }
    .adjust{
        margin: 20px 20px 10px;
    }
    
}

/* major Screen modifications end */




@media screen and (max-width:299px) and (min-width:100px){
    .footer_content{
        font-size: 8px;
    }
}

/********************************************************** Error page End **********************************************************/